@import "import/_import.sass"
@font-face
  font-family: "Titillium Web"
  src: url('../fonts/TitilliumWeb-Bold.ttf')

@font-face
  font-family: "Titillium Web Light"
  src: url('../fonts/TitilliumWeb-Light.ttf')

@font-face
  font-family: "Qick Light"
  src: url('../fonts/Quicksand-Light.ttf')

@font-face
  font-family: "Qick Regul"
  src: url('../fonts/Quicksand-Regular.ttf')

@font-face
  font-family: "Qick Medium"
  src: url('../fonts/Quicksand-Medium.ttf')


body
  background-color: #E0FFFF

html,body,header,#intro
  height: 100%

#intro
  background: url(../img/pexels-photo-564899.jpeg)
  background-size: cover

.action
  position: relative
  top: -10vh
  height: 10vh


.card
  border: none

.mac
  left: 13em
.ipad
  left: 41em
  top: 7.5em
.iphone
  left: 16em
  top: 15.5em

.cicle
  width: 40px
  height: 40px
  border-radius: 50%

.circle-2
  position: relative
  display: flex
  justify-content: center



.cickle
  width: 3em
  height: 3em
  border: 13px solid blue
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  font-size: 3em
  margin-top: 2em

  .container
    svg
      display: block

.progress-ring__circle
  transform-origin: center
  transform: rotate(-90deg)
  transition: stroke-dashoffset .7s
  animation: 900ms ease 0s 1 normal forwards running donut-show-0

.svg-progress
  transform-origin: center
  transform: rotate(180deg)
  transition: stroke-dashoffset 1.1s
  animation: 900ms ease 0s 1 normal forwards running donut-show-0



#mac
  &:hover
    fill: red

//удалить потом эти правила
.clip-container
  width: inherit
  .clip
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%

  .clip-1
    background: #ffecb3
    clip-path: polygon(0 0, 41% 0, 21% 100%, 0% 100%)

  .clip-2
    background: #ccff90
    clip-path: polygon(41% 0, 41% 0, 78% 100%, 21% 100%)

  .clip-3
    background: #311b92
    clip-path: polygon(41% 0, 100% 0, 100% 100%, 78% 100%)

//удалить сверху правила до этого комментария


@import "import/_link-navbar.sass"
@import "media/md-devices.sass"
@import "import/btn-mod.sass"
