extends template/main

block body
	body
		nav.nav.nav-pills.flex-column.flex-ьв-row
			a.flex-sm-fill.text-sm-center.nav-link(href='#') Active
			a.flex-sm-fill.text-sm-center.nav-link(href='#') Link
			a.flex-sm-fill.text-sm-center.nav-link(href='#') Link
			a.flex-sm-fill.text-sm-center.nav-link(href='#') Disabled




	block scripts
	script(src=jquery)
	script(src=js_bundle_btsp)
	script(src=js_bootstrap)


