// ----------------------------------------
//скрываю логотип в header
// и показываю его на надписбю в центре экрана

@media (max-width: 768px)		
	.invise
		visibility: hidden

@media (min-width: 769px)
	.smailler-768
		visibility: hidden
	
//-----------------------------------------


//кнопка SUBSCRIBE НАСТРОЙКА ВЫСОТЫ
@media (min-width: 768px)
	.btn-mode
		height: 4vh
