- var path_css = "../css/";
- var path_js = "../js/";
- var title = "Шаблон на Bootstrap!!!";

-var lang = "ru-RU";
//- для путей инклудов в файле My work.pug
- var path_work = "template/section/work/";

//- этот файл конфигурации создан для теста сайта в директории test
- var namesite = "Тестирование Nodejs & Bootstrap!!!";

- var  jquery = "../../gulp/node_modules/jquery/dist/jquery.min.js";
- var css = "css/style.css";

//- Библиотека jQuery 


<!-- Последний скомпилированный и минимизированный Bootstrap JavaScript -->
-var js_bundle_btsp = "../../gulp/node_modules/bootstrap/dist/js/bootstrap.min.js";
-var js_bootstrap = "../../gulp/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js";